<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- Para obtener más información sobre la configuración de Entity Framework, visita 
         http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<!-- Las cadenas de conexión deben ir fuera de <configSections> -->
	<connectionStrings>
		<add name="PowerfullGymDB"
			 connectionString="Server=myServer;Database=PowerfullGymDB;User Id=myUsername;Password=myPassword;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<!-- Configuración de Entity Framework -->
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>
